#canvas-container {
  height: 100vh;
  width: 100vw;
}

:root {
  --background-black: 0, 0, 10;
  /* --background: 30, 30, 40; */
  --background: 30, 30, 40;
  --background-darker: 0, 0, 10;
  --border: 0, 0, 5;
  --text: rgb(180, 180, 190);
  --white: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: rgba(var(--background-black), 1);
  font-size: 100%;
}
